CREATE DATABASE IF NOT EXISTS ourmemora
    CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

USE ourmemora;


-- =============================================
-- DDL
-- =============================================

-- Users
CREATE TABLE users (
    id                  BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    name                VARCHAR(255)        NOT NULL,
    email               VARCHAR(255)        NOT NULL UNIQUE,
    password            VARCHAR(255)        NULL,
    is_admin            TINYINT(1)          NOT NULL DEFAULT 0,
    google_id           VARCHAR(255)        NULL,
    avatar              VARCHAR(255)        NULL,
    email_verified_at   TIMESTAMP           NULL,
    last_login_at       TIMESTAMP           NULL,
    remember_token      VARCHAR(100)        NULL,
    created_at          TIMESTAMP           NULL,
    updated_at          TIMESTAMP           NULL,

    INDEX idx_users_email       (email),
    INDEX idx_users_google_id   (google_id),
    INDEX idx_users_is_admin    (is_admin),
    INDEX idx_users_last_login  (last_login_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Photos
CREATE TABLE photos (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    user_id     BIGINT UNSIGNED     NOT NULL,
    album_id    VARCHAR(36)         NULL,
    caption     VARCHAR(255)        NOT NULL,
    description TEXT                NULL,
    status      ENUM('public','private') NOT NULL DEFAULT 'public',
    views       BIGINT UNSIGNED     NOT NULL DEFAULT 0,
    created_at  TIMESTAMP           NULL,
    updated_at  TIMESTAMP           NULL,

    CONSTRAINT fk_photos_user
        FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,

    INDEX idx_photos_user_id    (user_id),
    INDEX idx_photos_status     (status),
    INDEX idx_photos_album_id   (album_id),
    INDEX idx_photos_created_at (created_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Photo Files
CREATE TABLE photo_files (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    photo_id    BIGINT UNSIGNED     NOT NULL,
    file_path   VARCHAR(255)        NOT NULL,
    thumb_path  VARCHAR(255)        NULL,
    `order`     INT                 NOT NULL DEFAULT 0,
    created_at  TIMESTAMP           NULL,
    updated_at  TIMESTAMP           NULL,

    CONSTRAINT fk_photo_files_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,

    INDEX idx_photo_files_photo_id  (photo_id),
    INDEX idx_photo_files_order     (photo_id, `order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Tags
CREATE TABLE tags (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    name        VARCHAR(100)        NOT NULL UNIQUE,
    created_at  TIMESTAMP           NULL,
    updated_at  TIMESTAMP           NULL,

    INDEX idx_tags_name (name)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Photo Tag (pivot foto <-> tag)
CREATE TABLE photo_tag (
    photo_id    BIGINT UNSIGNED NOT NULL,
    tag_id      BIGINT UNSIGNED NOT NULL,

    PRIMARY KEY (photo_id, tag_id),

    CONSTRAINT fk_photo_tag_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,
    CONSTRAINT fk_photo_tag_tag
        FOREIGN KEY (tag_id)   REFERENCES tags(id)   ON DELETE CASCADE,

    INDEX idx_photo_tag_tag_id (tag_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Likes
CREATE TABLE likes (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    user_id     BIGINT UNSIGNED NOT NULL,
    photo_id    BIGINT UNSIGNED NOT NULL,
    created_at  TIMESTAMP       NULL,
    updated_at  TIMESTAMP       NULL,

    UNIQUE KEY uq_likes_user_photo (user_id, photo_id),

    CONSTRAINT fk_likes_user
        FOREIGN KEY (user_id)  REFERENCES users(id)  ON DELETE CASCADE,
    CONSTRAINT fk_likes_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,

    INDEX idx_likes_photo_id (photo_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Saves
CREATE TABLE saves (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    user_id     BIGINT UNSIGNED NOT NULL,
    photo_id    BIGINT UNSIGNED NOT NULL,
    created_at  TIMESTAMP       NULL,
    updated_at  TIMESTAMP       NULL,

    UNIQUE KEY uq_saves_user_photo (user_id, photo_id),

    CONSTRAINT fk_saves_user
        FOREIGN KEY (user_id)  REFERENCES users(id)  ON DELETE CASCADE,
    CONSTRAINT fk_saves_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,

    INDEX idx_saves_photo_id (photo_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Comments
CREATE TABLE comments (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    user_id     BIGINT UNSIGNED NOT NULL,
    photo_id    BIGINT UNSIGNED NOT NULL,
    body        TEXT            NOT NULL,
    created_at  TIMESTAMP       NULL,
    updated_at  TIMESTAMP       NULL,

    CONSTRAINT fk_comments_user
        FOREIGN KEY (user_id)  REFERENCES users(id)  ON DELETE CASCADE,
    CONSTRAINT fk_comments_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,

    INDEX idx_comments_photo_id (photo_id),
    INDEX idx_comments_user_id  (user_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Events
CREATE TABLE events (
    id                  BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    created_by          BIGINT UNSIGNED     NOT NULL,
    title               VARCHAR(255)        NOT NULL,
    description         TEXT                NULL,
    prize_description   TEXT                NULL,
    poster_path         VARCHAR(255)        NULL,
    start_date          DATETIME            NOT NULL,
    end_date            DATETIME            NOT NULL,
    max_winners         INT UNSIGNED        NOT NULL DEFAULT 3,
    rules               TEXT                NULL,
    auto_tag            VARCHAR(100)        NULL,
    status              ENUM('draft','active','voting','ended') NOT NULL DEFAULT 'draft',
    created_at          TIMESTAMP           NULL,
    updated_at          TIMESTAMP           NULL,

    CONSTRAINT fk_events_creator
        FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE,

    INDEX idx_events_status     (status),
    INDEX idx_events_end_date   (end_date),
    INDEX idx_events_created_by (created_by)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- Event Participations
CREATE TABLE event_participations (
    id          BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    event_id    BIGINT UNSIGNED NOT NULL,
    photo_id    BIGINT UNSIGNED NOT NULL,
    user_id     BIGINT UNSIGNED NOT NULL,
    created_at  TIMESTAMP       NULL,
    updated_at  TIMESTAMP       NULL,

    UNIQUE KEY uq_ep_event_user (event_id, user_id),

    CONSTRAINT fk_ep_event
        FOREIGN KEY (event_id) REFERENCES events(id) ON DELETE CASCADE,
    CONSTRAINT fk_ep_photo
        FOREIGN KEY (photo_id) REFERENCES photos(id) ON DELETE CASCADE,
    CONSTRAINT fk_ep_user
        FOREIGN KEY (user_id)  REFERENCES users(id)  ON DELETE CASCADE,

    INDEX idx_ep_photo_id (photo_id),
    INDEX idx_ep_user_id  (user_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =============================================
-- DML
-- =============================================

-- Autentikasi
-- Cek email sudah dipakai
SELECT id, email_verified_at FROM users WHERE email = ? LIMIT 1;

-- Hapus akun belum verifikasi (re-register)
DELETE FROM users WHERE email = ? AND email_verified_at IS NULL;

-- Simpan akun baru
INSERT INTO users (name, email, password, is_admin, created_at, updated_at)
VALUES (?, ?, ?, 0, NOW(), NOW());

-- Login: ambil user by email
SELECT * FROM users WHERE email = ? LIMIT 1;

-- Update last_login_at
UPDATE users SET last_login_at = NOW(), updated_at = NOW() WHERE id = ?;

-- Google OAuth: cek user by google_id atau email
SELECT * FROM users WHERE google_id = ? OR email = ? LIMIT 1;

-- Google OAuth: update google_id
UPDATE users
SET google_id = ?, email_verified_at = COALESCE(email_verified_at, NOW()), updated_at = NOW()
WHERE id = ?;

-- Google OAuth: buat akun baru
INSERT INTO users (name, email, google_id, password, email_verified_at, created_at, updated_at)
VALUES (?, ?, ?, NULL, NOW(), NOW(), NOW());

-- Tandai email terverifikasi
UPDATE users SET email_verified_at = NOW(), updated_at = NOW() WHERE id = ?;


-- Upload Foto
-- Cek event masih aktif
SELECT * FROM events WHERE id = ? AND status = 'active' AND end_date >= NOW() LIMIT 1;

-- Cek user sudah submit ke event ini
SELECT id FROM event_participations WHERE event_id = ? AND user_id = ? LIMIT 1;

-- Simpan metadata foto
INSERT INTO photos (user_id, album_id, caption, description, status, views, created_at, updated_at)
VALUES (?, ?, ?, ?, ?, 0, NOW(), NOW());

-- Simpan file foto (looping per file)
INSERT INTO photo_files (photo_id, file_path, thumb_path, `order`, created_at, updated_at)
VALUES (?, ?, ?, ?, NOW(), NOW());

-- Cek tag sudah ada
SELECT id FROM tags WHERE name = ? LIMIT 1;

-- Buat tag baru
INSERT INTO tags (name, created_at, updated_at) VALUES (?, NOW(), NOW());

-- Hubungkan foto dengan tag
INSERT INTO photo_tag (photo_id, tag_id) VALUES (?, ?);

-- Daftarkan foto ke event
INSERT INTO event_participations (event_id, photo_id, user_id, created_at, updated_at)
VALUES (?, ?, ?, NOW(), NOW());


-- Dashboard
-- Foto publik terbaru (16 per halaman)
SELECT p.*, u.id AS u_id, u.name AS u_name, u.avatar AS u_avatar
FROM photos p
JOIN users u ON u.id = p.user_id
WHERE p.status = 'public'
ORDER BY p.created_at DESC
LIMIT 16 OFFSET 0;

-- Eager load file foto (hindari N+1)
SELECT * FROM photo_files WHERE photo_id IN (?, ?, ?) ORDER BY photo_id, `order` ASC;

-- Hitung like per foto
SELECT photo_id, COUNT(*) AS likes_count FROM likes WHERE photo_id IN (?, ?, ?) GROUP BY photo_id;

-- Hitung komentar per foto
SELECT photo_id, COUNT(*) AS comments_count FROM comments WHERE photo_id IN (?, ?, ?) GROUP BY photo_id;

-- Badge event per foto
SELECT ep.photo_id, ep.event_id, e.status, e.max_winners, e.auto_tag, e.title
FROM event_participations ep
JOIN events e ON e.id = ep.event_id
WHERE ep.photo_id IN (?, ?, ?);


-- Detail Foto
-- Ambil 1 foto
SELECT * FROM photos WHERE id = ? LIMIT 1;

-- Tambah views
UPDATE photos SET views = views + 1 WHERE id = ?;

-- File foto untuk slider
SELECT * FROM photo_files WHERE photo_id = ? ORDER BY `order` ASC;

-- Komentar beserta user
SELECT c.*, u.name AS user_name, u.avatar AS user_avatar
FROM comments c
JOIN users u ON u.id = c.user_id
WHERE c.photo_id = ?
ORDER BY c.created_at DESC;

-- Tag foto
SELECT t.* FROM tags t JOIN photo_tag pt ON pt.tag_id = t.id WHERE pt.photo_id = ?;

-- Event yang diikuti foto ini
SELECT e.* FROM events e
JOIN event_participations ep ON ep.event_id = e.id
WHERE ep.photo_id = ? LIMIT 1;


-- Like
-- Cek sudah like
SELECT id FROM likes WHERE user_id = ? AND photo_id = ? LIMIT 1;

-- Tambah like
INSERT INTO likes (user_id, photo_id, created_at, updated_at) VALUES (?, ?, NOW(), NOW());

-- Hapus like (unlike)
DELETE FROM likes WHERE user_id = ? AND photo_id = ?;

-- Hitung total like
SELECT COUNT(*) AS total FROM likes WHERE photo_id = ?;


-- Save / Bookmark
-- Cek sudah disimpan
SELECT id FROM saves WHERE user_id = ? AND photo_id = ? LIMIT 1;

-- Simpan
INSERT INTO saves (user_id, photo_id, created_at, updated_at) VALUES (?, ?, NOW(), NOW());

-- Hapus simpanan
DELETE FROM saves WHERE user_id = ? AND photo_id = ?;

-- Daftar foto yang disimpan user
SELECT p.*, u.name AS user_name, u.avatar AS user_avatar, pf.file_path, pf.thumb_path
FROM saves s
JOIN photos p       ON p.id = s.photo_id
JOIN users u        ON u.id = p.user_id
JOIN photo_files pf ON pf.photo_id = p.id AND pf.`order` = 0
WHERE s.user_id = ?
ORDER BY s.created_at DESC;


-- Komentar
-- Simpan komentar
INSERT INTO comments (user_id, photo_id, body, created_at, updated_at) VALUES (?, ?, ?, NOW(), NOW());

-- Hitung total komentar
SELECT COUNT(*) AS total FROM comments WHERE photo_id = ?;

-- Ambil data user untuk tampil langsung
SELECT name, avatar FROM users WHERE id = ? LIMIT 1;


-- Hapus Foto
-- Ambil path file sebelum hapus
SELECT file_path, thumb_path FROM photo_files WHERE photo_id = ?;

-- Hapus foto (CASCADE ke semua relasi)
DELETE FROM photos WHERE id = ?;


-- Profil
-- Foto user + jumlah like & komentar
SELECT p.*, COUNT(DISTINCT l.id) AS likes_count, COUNT(DISTINCT c.id) AS comments_count
FROM photos p
LEFT JOIN likes l    ON l.photo_id = p.id
LEFT JOIN comments c ON c.photo_id = p.id
WHERE p.user_id = ?
GROUP BY p.id
ORDER BY p.created_at DESC;

-- Filter foto publik saja
SELECT p.* FROM photos p WHERE p.user_id = ? AND p.status = 'public' ORDER BY p.created_at DESC;

-- Filter foto privat saja
SELECT p.* FROM photos p WHERE p.user_id = ? AND p.status = 'private' ORDER BY p.created_at DESC;

-- Update avatar
UPDATE users SET avatar = ?, updated_at = NOW() WHERE id = ?;

-- Ganti password
UPDATE users SET password = ?, updated_at = NOW() WHERE id = ?;


-- Pencarian
-- Cari foto by caption, deskripsi, tag, nama user
SELECT DISTINCT p.id, p.caption, p.description, p.user_id, p.status, p.created_at
FROM photos p
LEFT JOIN photo_tag pt ON pt.photo_id = p.id
LEFT JOIN tags t       ON t.id = pt.tag_id
LEFT JOIN users u      ON u.id = p.user_id
WHERE p.status = 'public'
  AND (
        p.caption     LIKE CONCAT('%', ?, '%')
    OR  p.description LIKE CONCAT('%', ?, '%')
    OR  t.name        LIKE CONCAT('%', ?, '%')
    OR  u.name        LIKE CONCAT('%', ?, '%')
  )
ORDER BY p.created_at DESC;

-- Cari tag by keyword
SELECT t.id, t.name, COUNT(pt.photo_id) AS photos_count
FROM tags t
JOIN photo_tag pt ON pt.tag_id = t.id
WHERE t.name LIKE CONCAT('%', ?, '%')
GROUP BY t.id, t.name
ORDER BY photos_count DESC
LIMIT 10;

-- Tag populer (saat search kosong)
SELECT t.id, t.name, COUNT(pt.photo_id) AS photos_count
FROM tags t
JOIN photo_tag pt ON pt.tag_id = t.id
GROUP BY t.id, t.name
ORDER BY photos_count DESC
LIMIT 24;


-- Events (User)
-- Event aktif & voting
SELECT e.*, COUNT(ep.id) AS participations_count
FROM events e
LEFT JOIN event_participations ep ON ep.event_id = e.id
WHERE e.status IN ('active', 'voting')
GROUP BY e.id
ORDER BY e.end_date ASC;

-- Event selesai (6 terbaru)
SELECT e.*, COUNT(ep.id) AS participations_count
FROM events e
LEFT JOIN event_participations ep ON ep.event_id = e.id
WHERE e.status = 'ended'
GROUP BY e.id
ORDER BY e.end_date DESC
LIMIT 6;

-- Detail 1 event
SELECT * FROM events WHERE id = ? LIMIT 1;

-- Hitung total peserta
SELECT COUNT(DISTINCT user_id) AS total FROM event_participations WHERE event_id = ?;

-- Leaderboard event (urut like terbanyak)
SELECT p.id, p.caption, p.user_id, p.created_at, COUNT(l.id) AS likes_count
FROM photos p
LEFT JOIN likes l ON l.photo_id = p.id
WHERE p.id IN (SELECT photo_id FROM event_participations WHERE event_id = ?)
GROUP BY p.id, p.caption, p.user_id, p.created_at
ORDER BY likes_count DESC
LIMIT 20;

-- Cek user sudah ikut event
SELECT id FROM event_participations WHERE event_id = ? AND user_id = ? LIMIT 1;

-- Foto user di event ini
SELECT p.* FROM event_participations ep
JOIN photos p ON p.id = ep.photo_id
WHERE ep.event_id = ? AND ep.user_id = ? LIMIT 1;


-- Admin Dashboard
-- Semua foto publik untuk moderasi
SELECT p.*, u.name AS u_name, u.avatar AS u_avatar,
       (SELECT COUNT(*) FROM likes l    WHERE l.photo_id = p.id) AS likes_count,
       (SELECT COUNT(*) FROM comments c WHERE c.photo_id = p.id) AS comments_count
FROM photos p
JOIN users u ON u.id = p.user_id
WHERE p.status = 'public'
ORDER BY p.created_at DESC
LIMIT 20 OFFSET 0;

-- Hapus foto melanggar
DELETE FROM photos WHERE id = ?;


-- Statistik Engagement
-- Total users
SELECT COUNT(*) AS total FROM users;

-- User login hari ini
SELECT COUNT(*) AS total FROM users WHERE DATE(last_login_at) = CURDATE();

-- Total foto
SELECT COUNT(*) AS total FROM photos;

-- Total like
SELECT COUNT(*) AS total FROM likes;

-- Total komentar
SELECT COUNT(*) AS total FROM comments;

-- Foto dengan like terbanyak
SELECT p.*, COUNT(l.id) AS likes_count
FROM photos p
LEFT JOIN likes l ON l.photo_id = p.id
GROUP BY p.id
ORDER BY likes_count DESC
LIMIT 1;

-- 8 user terbaru daftar
SELECT * FROM users ORDER BY created_at DESC LIMIT 8;


-- Admin Events
-- Semua event + jumlah peserta
SELECT e.*, COUNT(ep.id) AS participations_count
FROM events e
LEFT JOIN event_participations ep ON ep.event_id = e.id
GROUP BY e.id
ORDER BY e.created_at DESC;

-- Buat event baru
INSERT INTO events (
    created_by, title, description, prize_description, poster_path,
    start_date, end_date, max_winners, rules, auto_tag, status,
    created_at, updated_at
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, NOW(), NOW());

-- Edit event
UPDATE events
SET title = ?, description = ?, prize_description = ?, poster_path = ?,
    start_date = ?, end_date = ?, max_winners = ?, rules = ?,
    auto_tag = ?, status = ?, updated_at = NOW()
WHERE id = ?;

-- Ubah status event (draft -> active -> voting -> ended)
UPDATE events SET status = ?, updated_at = NOW() WHERE id = ?;

-- Daftar peserta event (admin)
SELECT ep.*, ep.created_at AS joined_at,
       p.id AS photo_id, p.caption AS photo_caption,
       u.id AS user_id, u.name AS user_name, u.avatar AS user_avatar,
       (SELECT COUNT(*) FROM likes l WHERE l.photo_id = p.id) AS likes_count
FROM event_participations ep
JOIN photos p ON p.id = ep.photo_id
JOIN users u  ON u.id = ep.user_id
WHERE ep.event_id = ?
ORDER BY ep.created_at DESC;

-- Hapus event (CASCADE ke participations)
DELETE FROM events WHERE id = ?;


-- =============================================
-- Seed Data
-- =============================================

-- Admin default
INSERT INTO users (name, email, password, is_admin, email_verified_at, created_at, updated_at)
VALUES (
    'Administrator',
    'admin@ourmemora.com',
    '$2y$12$REPLACE_WITH_BCRYPT_HASH_OF_admin123',
    1,
    NOW(),
    NOW(),
    NOW()
);
