
   INFO  Running migrations.  

  2026_05_27_150646_ivents_table ...................................................  
  Γçé create table `events` (`id` bigint unsigned not null auto_increment primary key, `created_by` bigint unsigned not null, `title` varchar(255) not null, `description` text null, `prize_description` text null, `poster_path` varchar(255) null, `start_date` datetime not null, `end_date` datetime not null, `max_winners` int not null default '3', `rules` text null, `auto_tag` varchar(255) null, `status` enum('draft', 'active', 'voting', 'ended') not null default 'draft', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `events` add constraint `events_created_by_foreign` foreign key (`created_by`) references `users` (`id`) on delete cascade  
  Γçé create table `event_participations` (`id` bigint unsigned not null auto_increment primary key, `event_id` bigint unsigned not null, `photo_id` bigint unsigned not null, `user_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `event_participations` add constraint `event_participations_event_id_foreign` foreign key (`event_id`) references `events` (`id`) on delete cascade  
  Γçé alter table `event_participations` add constraint `event_participations_photo_id_foreign` foreign key (`photo_id`) references `photos` (`id`) on delete cascade  
  Γçé alter table `event_participations` add constraint `event_participations_user_id_foreign` foreign key (`user_id`) references `users` (`id`) on delete cascade  
  Γçé alter table `event_participations` add unique `event_participations_event_id_user_id_unique`(`event_id`, `user_id`)  
  2026_05_30_034839_add_thumb_to_photo_files .......................................  
  Γçé alter table `photo_files` add `thumb_path` varchar(255) null after `file_path`  

